version: 2.1
orbs:
  gh: circleci/github-cli@2.7.2
jobs:
  build:
    machine:
      image: ubuntu-2404:2024.11.1
    steps:
      - checkout
      - gh/install
      # install 2.5.6 as workaround for bug in 2.6.0
      # see bug: https://github.com/denoland/deno/issues/31556
      - run: curl -fsSL https://deno.land/install.sh | sh -s v2.5.6
      - run:
          name: Add Deno to PATH
          command: echo 'export PATH="/home/circleci/.deno/bin:$PATH"' >> $BASH_ENV

      # Install a specific version of the tool (recommended for teams)
      # - run: curl -fsSL https://github.com/levibostian/decaf/blob/HEAD/install?raw=true | bash "1.0.0"
      # --- 
      # To always install the latest version (not recommended for teams):
      # - run: curl -fsSL https://github.com/levibostian/decaf/blob/HEAD/install?raw=true | bash

      # Compile and run so we can test the recent code changes in project. 
      # This is used for development purposes only.
      - run: 
          name: Compile binary
          command: OUTPUT_FILE_NAME=decaf DENO_TARGET="$(uname -m)-unknown-linux-gnu" deno task compile

      - run:
          name: Run CLI Tool
          # Do not pass in these command line args:
          # simulated_merge_type - we want to test the smart default behavior that calls the github api. 
          # make_pull_request_comment - we want to make sure that the run on circle was successful, so we want it enabled. 
          command: |
            ./decaf \
              --github_token "$GH_TOKEN" \
              --deploy "./steps/deploy.ts" \
              --get_latest_release_current_branch "./steps/get-latest-release.ts" \
              --get_next_release_version "deno run --allow-all --quiet jsr:@levibostian/decaf-script-conventional-commits" \
              --make_pull_request_comment true \
              --debug true

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: 
                - main
                - latest