version: 2.1
orbs:
  gh: circleci/github-cli@2.7.2
jobs:
  build:
    machine:
      image: ubuntu-2404:2024.11.1
    steps:
      - checkout
      - gh/install
      
      # Install asdf and the tools specified in .tool-versions
      - run: git clone https://github.com/brandoncc/circleci-asdf-installer.git ~/circleci-asdf-installer
      - run: ~/circleci-asdf-installer/bin/clone-asdf
      - restore_cache:
          keys:
            - tools-cache-{{ checksum ".tool-versions" }}
      - run: ~/circleci-asdf-installer/bin/install-asdf-plugins-and-versions
      - save_cache:
          key: tools-cache-{{ checksum ".tool-versions" }}
          paths:
            - "~/.asdf/plugins"
            - "~/.asdf/installs"

      # Install a specific version of the tool (recommended for teams)
      # - run: curl -fsSL https://github.com/levibostian/decaf/blob/HEAD/install?raw=true | bash "1.0.0"
      # --- 
      # To always install the latest version (not recommended for teams):
      # - run: curl -fsSL https://github.com/levibostian/decaf/blob/HEAD/install?raw=true | bash

      # Compile and run so we can test the recent code changes in project. 
      # This is used for development purposes only.
      - run: 
          name: Compile binary
          command: OUTPUT_FILE_NAME=decaf DENO_TARGET="$(uname -m)-unknown-linux-gnu" deno task compile

      - run:
          name: Run CLI Tool
          # The auth token given to decaf is read-only so we need to disable some features. 
          command: |
            ./decaf \
              --github_token "$GH_TOKEN" \
              --current_working_directory "steps/" \
              --deploy "./deploy.ts" \
              --get_latest_release_current_branch "./get-latest-release.ts" \
              --get_next_release_version "deno run --allow-all --quiet jsr:@levibostian/decaf-script-conventional-commits" \
              --make_pull_request_comment false \
              --output_file "/tmp/decaf-output.json" \
              --debug true 

      - run: 
          name: Show Output File
          command: cat /tmp/decaf-output.json

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: 
                - main
                - latest