name: Deploy

on: 
  push:
    branches: [main, alpha, beta]
  # This tool encourages you to run it on pull requests to test the deployment process.
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:    
      contents: write # required to create git tags and releases
      pull-requests: write # allow commenting on PRs
    steps:
    # Checkout the repo and make sure to get all commits for all branches. 
    # This is required by the deploy script because we try to merge the deployment branch into 'latest' branch and 
    # you will get "unrelated histories" error if you don't have all commits on both branches. 
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        
    - name: Set up Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: v2.x

    - name: Compile binary 
      run: OUTPUT_FILE_NAME=decaf DENO_TARGET="$(uname -m)-unknown-linux-gnu" deno task compile

    - name: Run deployment, merge method
      uses: ./
      env:
        # required to use 'gh' CLI in my step scripts. 
        GH_TOKEN: ${{ github.token }}
      with: 
        simulated_merge_type: 'merge'
        local_binary_path: decaf
        github_token: ${{ secrets.github_token }}
        get_latest_release_current_branch: './steps/get-latest-release.ts'
        get_next_release_version: './steps/get-next-release.ts'
        deploy: './steps/deploy.ts'

    - uses: actions/checkout@v4
    - name: Compile binary 
      run: OUTPUT_FILE_NAME=decaf DENO_TARGET="$(uname -m)-unknown-linux-gnu" deno task compile
    - name: Run deployment, squash method
      if: github.event_name == 'pull_request' # For real deployments, we only need to run the action once. But for PRs, run all of them. 
      uses: ./      
      env:
        # required to use 'gh' CLI in my step scripts. 
        GH_TOKEN: ${{ github.token }}
      with: 
        simulated_merge_type: 'squash'
        local_binary_path: decaf
        github_token: ${{ secrets.github_token }}
        get_latest_release_current_branch: './steps/get-latest-release.ts'
        get_next_release_version: './steps/get-next-release.ts'
        deploy: './steps/deploy.ts'

    - uses: actions/checkout@v4
    - name: Compile binary 
      run: OUTPUT_FILE_NAME=decaf DENO_TARGET="$(uname -m)-unknown-linux-gnu" deno task compile
    - name: Run deployment, rebase method
      if: github.event_name == 'pull_request' # For real deployments, we only need to run the action once. But for PRs, run all of them. 
      uses: ./      
      env:
        # required to use 'gh' CLI in my step scripts. 
        GH_TOKEN: ${{ github.token }}
      with: 
        simulated_merge_type: 'rebase'
        local_binary_path: decaf
        github_token: ${{ secrets.github_token }}
        get_latest_release_current_branch: './steps/get-latest-release.ts'
        get_next_release_version: './steps/get-next-release.ts'
        deploy: './steps/deploy.ts'