name: Deploy

on: 
  push:
    branches: [main, alpha, beta]
  # This tool encourages you to run it on pull requests to test the deployment process.
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:    
      contents: write # required to create git tags and releases
      pull-requests: write # allow commenting on PRs
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    
    - name: Run decaf to perform deployment
      uses: ./
      env:
        # required to use 'gh' CLI in my step scripts. 
        GH_TOKEN: ${{ github.token }}
      with: 
        current_working_directory: 'steps/'
        compile_binary: 'true'
        github_token: ${{ secrets.github_token }}
        get_latest_release_current_branch: './get-latest-release.ts'
        get_next_release_version: deno run --allow-all --quiet jsr:@levibostian/decaf-script-conventional-commits
        deploy: './deploy.ts'