name: Deploy

on: 
  push:
    branches: [main, alpha, beta]
  # This tool encourages you to run it on pull requests to test the deployment process.
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:    
      contents: write # required to create git tags and releases
      pull-requests: write # allow commenting on PRs
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    
    - name: Run decaf to perform deployment
      uses: ./
      env:
        # required to use 'gh' CLI in my step scripts. 
        GH_TOKEN: ${{ github.token }}
      with: 
        compile_binary: 'true'
        github_token: ${{ secrets.github_token }}
        get_latest_release_current_branch: './steps/get-latest-release.ts'
        get_next_release_version: deno run --allow-all --quiet jsr:@levibostian/decaf-script-conventional-commits
        deploy: './steps/deploy.ts'
        pull_request_comment_template: |
          ## Yooooooooooooo! 游
          {{ for result of results }}
          {{ if (result.status === "success") }}{{ if (result.nextReleaseVersion) }}...游릴 **{{ result.mergeType }}** 游릴 merge method... 游뚹 It ships. **{{ result.nextReleaseVersion }}**{{ else }}...游릴 **{{ result.mergeType }}** 游릴 merge method... 游꺖 Nah.{{ /if }}{{ else }}...游릴 **{{ result.mergeType }}** 游릴 merge method... 丘멆잺 There was an error during deployment run.{{ if (build.buildUrl) }} [See logs to learn more and fix the issue]({{ build.buildUrl }}).{{ else }} See CI server logs to learn more and fix the issue.{{ /if }}{{ /if }}

          {{ if (result.status === "success") }}<details>
            <summary>Learn more inside here.</summary>
            <br>
            Latest release: {{ result.latestRelease?.versionName || "none, this is the first release." }}<br>
            Commit of latest release: {{ result.latestRelease?.commitSha || "none, this is the first release." }}<br>
            <br>
            Commits since last release:<br>
            - {{ result.commitsSinceLastRelease?.map(commit => commit.message).join("<br>- ") || "none" }}    
          </details>{{ /if }}{{ /for }}
