on: [pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Deno
      uses: asdf-vm/actions/install@v4

    - name: Run formatter and fail if not formatted
      run: |
        deno fmt --check || (echo "Code has not been formatted. May I suggest you install git hooks on your development machine?" && exit 1)

  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Deno
      uses: asdf-vm/actions/install@v4

    - name: Run lint and fail if there are errors
      run: |
        deno lint || (echo "Lint errors found. Please fix the issues above." && exit 1)