on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: v2.x

    - name: Install dependencies
      run: deno install --frozen

    - name: Run Deno tests
      run: deno task test

    - name: Generate coverage report 
      run: deno coverage --lcov --output=reports/coverage.lcov reports/coverage/

    - name: Upload test results
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: junit-results
        path: reports/junit.xml

    - name: Upload coverage for analysis
      uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2
      with:
        file: reports/coverage.lcov
      env:
        # try and speedup the action by homebrew not having to do more then it needs when installing the coveralls tool
        HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: true

    - name: Annotate failed tests
      if: always() # Run with test/lint failures.
      uses: granodigital/report-annotate@ee4a47b09c47081abeab3758097a77a5589bc7f1 # v3.1.1
      with:
        reports: |
          junit|reports/junit.xml